.copy {
	line-height: 1.5em;

	&.extended {
		> * + * {
			margin-top: 2rem;
		}
	}

	&-1 {
		font-size: $type-size-400;
	}

	&-2 {
		font-size: $type-size-300;
	}

	&-3 {
		font-size: $type-size-200;
	}
}
