body,
button,
input,
select,
optgroup,
textarea {
    font-family: $chronicle-deck;
    font-weight: 400;
}

::-moz-selection {
    text-shadow: none;
    background: #82e1ff;
    color: $black;
}

::selection {
    text-shadow: none;
    background: #82e1ff;
    color: $black;
}

a {
    color: $black;
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: 400;
}

@import 'headings';

@import 'copy';
