/* Box sizing rules */
@import url("https://cloud.typography.com/6104232/6635432/css/fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Besley:wght@400;700&family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

div,
section,
article,
aside,
main {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 400;
}

ul,
ol {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=navigation],
ol[role=navigation] {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul[role=navigation] li,
ol[role=navigation] li {
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Chronicle Deck A", "Chronicle Deck B";
  font-weight: 400;
}

::-moz-selection {
  text-shadow: none;
  background: #82e1ff;
  color: #000;
}

::selection {
  text-shadow: none;
  background: #82e1ff;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease;
  font-weight: 400;
}

.page-title {
  font-size: clamp(2.59rem, 2.22rem + 1.85vw, 3.37rem);
}

.page-header {
  padding-top: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 992px) {
  .page-header {
    padding-top: clamp(5rem, 15vh, 7.5rem);
  }
}

.copy {
  line-height: 1.5em;
}
.copy.extended > * + * {
  margin-top: 2rem;
}
.copy-1 {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
}
.copy-2 {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}
.copy-3 {
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
}

body {
  background-color: #fff;
}

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4.5rem)) minmax(0, auto);
  }
}
.grid > * {
  grid-column: 2/span 4;
}
@media screen and (min-width: 480px) {
  .grid > * {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .grid > * {
    grid-column: 2/span 12;
  }
}

.login-form {
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 22rem;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .login-form {
    padding: 6rem 0;
  }
}
.login-form .field.password {
  position: relative;
}
.login-form .field.password input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  font-size: 2rem;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.2em;
  padding: 0.5rem 1rem;
  z-index: 10;
}
.login-form .field.password input::-webkit-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 0;
}
.login-form .field.password input::-moz-placeholder {
  font-size: 1.5rem;
  letter-spacing: 0;
}
.login-form .field.password input:-moz-placeholder {
  font-size: 1.5rem;
  letter-spacing: 0;
}
.login-form .field.password input:-ms-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 0;
}
.login-form .field.password input:focus, .login-form .field.password input:active {
  outline: none;
}
.login-form .field.password input[type=text] {
  letter-spacing: 0.05em;
}
.login-form .field.password.filled:after {
  position: absolute;
  right: 3rem;
  bottom: 18px;
  content: "";
  display: block;
  width: 16px;
  height: 12px;
  background: url(images/icon-check.svg) no-repeat 0 0;
  background-size: contain;
  z-index: 10;
}
.login-form .field.password .eyeball {
  position: absolute;
  right: 0.5rem;
  bottom: 14px;
  z-index: 10;
}
.login-form .field.password .eyeball svg g {
  transition: all 0.3s ease;
}
.login-form .field.password .eyeball.active, .login-form .field.password .eyeball:hover {
  cursor: pointer;
}
.login-form .field.password .eyeball.active svg g, .login-form .field.password .eyeball:hover svg g {
  opacity: 1;
}
.login-form .submit-btn {
  margin-top: 1.5rem;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .login-form .submit-btn {
    margin-top: 2.75rem;
  }
}
.login-form .submit-btn .caret {
  display: block;
  position: absolute;
  right: 33.3333%;
  top: calc(50% - 12px);
  transition: all ease-in-out 0.2s;
}
.login-form .submit-btn .caret svg {
  height: 10px;
}
.login-form .submit-btn:hover .caret {
  transform: translateX(0.5rem);
}
.login-form .submit-btn input {
  background: #000;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  display: block;
  width: 100%;
  border-radius: 50px;
  letter-spacing: 0.1em;
  padding: 1rem;
  transition: all 0.2s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.login-form .submit-btn input:disabled {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: rgba(25, 25, 25, 0.2);
  transition: all 0.2s ease;
  display: block;
}
.login-form .submit-btn input:disabled:hover {
  cursor: default;
}
.login-form .submit-btn input:hover {
  cursor: pointer;
}
.login-form .error-message {
  margin-top: 2rem;
  padding: 1rem 1rem 0.9375rem 1rem;
  background: #ee2e2d;
  color: #fff;
  border-radius: 3px;
  font-size: 0.8125rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.02em;
}

body.page-template-home .site {
  display: grid;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body.page-template-home .site {
    grid-template-columns: 0.7fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-home .site {
    grid-template-columns: repeat(2, 1fr);
  }
}
body.page-template-home section.photo {
  aspect-ratio: 4/3;
}
body.page-template-home section.photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.photo {
    height: 100vh;
    aspect-ratio: unset;
  }
}
body.page-template-home section.photo .caption {
  display: inline-block;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.7);
  font-size: clamp(0.5rem, 0.8vw, 0.6875rem);
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
body.page-template-home section.info {
  padding: clamp(3rem, 5vh, 6rem) 0;
}
body.page-template-home section.info .info-wrapper {
  max-width: 736px;
  margin: 0 auto;
  padding: 0 3rem;
}
body.page-template-home section.info .lede {
  font-family: "Besley", serif;
  font-size: clamp(1.375rem, 1.7vw, 1.625rem);
  line-height: 1.65em;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2rem;
}
body.page-template-home section.info .lede p {
  color: #9a9a9a;
}
body.page-template-home section.info .lede strong {
  color: black;
}
body.page-template-home section.info .copy {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}
body.page-template-home section.info .copy > * + * {
  margin-top: 1.5rem;
}
body.page-template-home section.info .copy a {
  position: relative;
  white-space: nowrap;
}
body.page-template-home section.info .copy a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0.5;
  transition: all 500ms ease;
}
body.page-template-home section.info .copy a:hover::after {
  opacity: 1;
}
body.page-template-home section.info .copy a.blue::after {
  background: #82e1ff;
}
body.page-template-home section.info .copy a.green::after {
  background: #84ff82;
}

body.page-template-watchlist {
  background: #1a1a1a;
  color: #fff;
}
body.page-template-watchlist .page-header {
  padding-bottom: 3rem;
}
body.page-template-watchlist .playlist + .playlist {
  padding-top: 6rem;
}
body.page-template-watchlist .playlist:last-of-type {
  padding-bottom: 6rem;
}
body.page-template-watchlist .playlist-header {
  padding-bottom: 2rem;
}
body.page-template-watchlist .playlist-header h2 {
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  line-height: 1em;
  font-style: italic;
}
body.page-template-watchlist .playlist-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}
body.page-template-watchlist .playlist .poster {
  aspect-ratio: 2/3;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px, rgba(0, 0, 0, 0.05) 0px 18px 36px -18px;
}
body.page-template-watchlist .playlist .poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-watchlist .playlist .poster a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
body.page-template-watchlist .playlist .poster a:hover .overlay {
  opacity: 1;
}
body.page-template-watchlist .playlist .poster .overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 600ms ease;
}
body.page-template-watchlist .playlist .poster .overlay svg {
  width: 3rem;
}
body.page-template-watchlist .playlist .poster img {
  border-radius: 4px;
}
body.page-template-watchlist .playlist .film.no-poster .poster {
  background: linear-gradient(315deg, #fcff9e 0%, #c67700 100%);
}
body.page-template-watchlist .playlist a {
  color: #fff;
}
body.page-template-watchlist .playlist .info {
  padding-top: 1rem;
}
body.page-template-watchlist .playlist .title {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  line-height: 1.125em;
}
body.page-template-watchlist .playlist .director {
  padding-top: 0.5em;
  font-family: "Decimal A", "Decimal B", sans-serif;
  font-size: 0.6125rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.7;
}
body.page-template-watchlist .playlist .release-date {
  padding-top: 0.125rem;
  font-style: italic;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  opacity: 0.7;
}
body.page-template-watchlist .playlist .watched-btn {
  margin-top: 0.5rem;
  display: inline-block;
  font-family: "Decimal A", "Decimal B", sans-serif;
  font-size: 0.6125rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 3px;
  transition: all 700ms ease;
}
body.page-template-watchlist .playlist .watched-btn:hover {
  background: #fff;
  color: #000;
}

@media screen and (min-width: 992px) {
  body.page-template-logbook .logbook > * {
    grid-column: 4/span 8;
  }
}
body.page-template-logbook .page-header {
  padding-bottom: 3rem;
}
body.page-template-logbook section.log {
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 992px) {
  body.page-template-logbook section.log {
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
body.page-template-logbook .date {
  display: grid;
  grid-template-columns: 8rem 1fr;
}
@media screen and (min-width: 768px) {
  body.page-template-logbook .date {
    grid-template-columns: 12rem 1fr;
  }
}
body.page-template-logbook .date + .date {
  margin-top: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 3rem;
}
body.page-template-logbook .date-title {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  line-height: 1em;
}
body.page-template-logbook .date-title span {
  display: block;
}
body.page-template-logbook .date-title .day {
  text-transform: uppercase;
  font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
  letter-spacing: 0.2em;
  opacity: 0.7;
  font-family: "Decimal A", "Decimal B", sans-serif;
}
body.page-template-logbook .items {
  display: grid;
  gap: 1rem;
}
body.page-template-logbook .item {
  display: grid;
  gap: 0 0.5rem;
  grid-template-columns: 1.25rem 1fr;
  align-items: start;
}
body.page-template-logbook .item.music {
  align-items: center;
}
body.page-template-logbook .item.music .episode {
  font-style: italic;
  font-family: "Chronicle Deck A", "Chronicle Deck B";
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
}
@media screen and (min-width: 768px) {
  body.page-template-logbook .item {
    grid-template-columns: 1.5rem 1fr;
  }
}
body.page-template-logbook .item .icon {
  aspect-ratio: 1/1;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.375rem;
}
@media screen and (min-width: 768px) {
  body.page-template-logbook .item .icon {
    width: 1.25rem;
  }
}
body.page-template-logbook .item .icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: containe;
     object-fit: containe;
}
body.page-template-logbook .item .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
body.page-template-logbook .item .title {
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  padding-right: 0.25rem;
  line-height: 1.2em;
}
body.page-template-logbook .item .episode {
  font-family: "Decimal A", "Decimal B", sans-serif;
  font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
  opacity: 0.7;
  transform: translateY(1px);
}
body.page-template-logbook .item .source {
  width: 100%;
  font-style: italic;
  opacity: 0.7;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
}
body.page-template-logbook .item .source span + span:before {
  content: "| ";
}