.login-form {
    padding: 3rem 0;
    margin: 0 auto;
    max-width: 22rem;
    width: 100%;

    @include desktop-small {
        padding: 6rem 0;
    }

    .field.password {
        position: relative;

        input {
            background: transparent;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $black;
            width: 100%;
            font-size: 2rem;
            font-family: $dm-sans;
            letter-spacing: 0.2em;
            padding: 0.5rem 1rem;
            z-index: 10;

            @include placeholder {
                font-size: 1.5rem;
                letter-spacing: 0;
            }

            &:focus,
            &:active {
                outline: none;
            }

            &[type='text'] {
                letter-spacing: 0.05em;
            }
        }

        &.filled {
            &:after {
                position: absolute;
                right: 3rem;
                bottom: 18px;
                content: '';
                display: block;
                width: 16px;
                height: 12px;
                background: url(images/icon-check.svg) no-repeat 0 0;
                background-size: contain;
                z-index: 10;
            }
        }
        .eyeball {
            position: absolute;
            right: 0.5rem;
            bottom: 14px;
            z-index: 10;

            svg g {
                transition: all 0.3s ease;
            }

            &.active,
            &:hover {
                cursor: pointer;

                svg g {
                    opacity: 1;
                }
            }
        }
    }

    .submit-btn {
        margin-top: 1.5rem;
        position: relative;
        z-index: 10;

        @include desktop-small {
            margin-top: 2.75rem;
        }

        .caret {
            display: block;
            position: absolute;
            right: 33.3333%;
            top: calc(50% - 12px);
            transition: all ease-in-out 0.2s;

            svg {
                height: 10px;
            }
        }

        &:hover {
            .caret {
                transform: translateX(0.5rem);
            }
        }

        input {
            background: $black;
            color: $white;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $dm-sans;
            display: block;
            width: 100%;
            border-radius: 50px;
            letter-spacing: 0.1em;
            padding: 1rem;
            transition: all 0.2s ease;
            appearance: none;

            &:disabled {
                appearance: none;
                background: rgba(25, 25, 25, 0.2);
                transition: all 0.2s ease;
                display: block;

                &:hover {
                    cursor: default;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .error-message {
        margin-top: 2rem;
        padding: 1rem 1rem 0.9375rem 1rem;
        background: #ee2e2d;
        color: $white;
        border-radius: 3px;
        font-size: 0.8125rem;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.02em;
    }
}
