@import url('https://cloud.typography.com/6104232/6635432/css/fonts.css');

$decimal: 'Decimal A', 'Decimal B', sans-serif;
$chronicle-deck: 'Chronicle Deck A', 'Chronicle Deck B';

@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;700&family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$dm-sans: 'DM Sans', sans-serif;
$besley: 'Besley', serif;
