body.page-template-home {
    .site {
        display: grid;
        align-items: center;

        @include desktop-small {
            grid-template-columns: 0.7fr 1fr;
        }

        @include desktop-medium {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    section.photo {
        aspect-ratio: 4 / 3;
        @include cover-fill-image;

        @include desktop-small {
            height: 100vh;
            aspect-ratio: unset;
        }

        .caption {
            display: inline-block;
            padding: 0.5rem;
            background: rgba(black, 0.7);
            font-size: clamp(0.5rem, 0.8vw, 0.6875rem);
            font-family: $dm-sans;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: $white;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    section.info {
        padding: clamp(3rem, 5vh, 6rem) 0;
        .info-wrapper {
            max-width: 736px;
            margin: 0 auto;
            padding: 0 3rem;
        }

        .lede {
            font-family: $besley;
            font-size: clamp(1.375rem, 1.7vw, 1.625rem);
            line-height: 1.65em;
            padding-bottom: 2rem;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 2rem;

            p {
                color: #9a9a9a;
            }

            strong {
                color: black;
            }
        }

        .copy {
            font-family: $dm-sans;
            font-size: clamp(1rem, 1.2vw, 1.125rem);

            & > * + * {
                margin-top: 1.5rem;
            }

            a {
                position: relative;
                white-space: nowrap;

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    opacity: 0.5;
                    transition: all 500ms ease;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }

                &.blue {
                    &::after {
                        background: #82e1ff;
                    }
                }

                &.green {
                    &::after {
                        background: #84ff82;
                    }
                }
            }
        }
    }
}
