body.page-template-logbook {
    .logbook > * {
        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .page-header {
        padding-bottom: 3rem;
    }

    section.log {
        @include section-spacing-bottom;
    }

    .date {
        display: grid;
        grid-template-columns: 8rem 1fr;

        @include tablet {
            grid-template-columns: 12rem 1fr;
        }

        & + .date {
            margin-top: 3rem;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            padding-top: 3rem;
        }
    }

    .date-title {
        font-size: $type-size-400;
        line-height: 1em;

        span {
            display: block;
        }

        .day {
            text-transform: uppercase;
            font-size: $type-size-050;
            letter-spacing: 0.2em;
            opacity: 0.7;
            font-family: $decimal;
        }
    }

    .items {
        display: grid;
        gap: 1rem;
    }

    .item {
        display: grid;
        gap: 0 0.5rem;
        grid-template-columns: 1.25rem 1fr;
        align-items: start;

        &.music {
            align-items: center;

            .episode {
                font-style: italic;
                font-family: $chronicle-deck;
                font-size: $type-size-100;
            }
        }

        @include tablet {
            grid-template-columns: 1.5rem 1fr;
        }

        .icon {
            aspect-ratio: 1 / 1;
            width: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.375rem;

            @include tablet {
                width: 1.25rem;
            }

            svg {
                width: 100%;
                height: 100%;
                object-fit: containe;
            }
        }

        .info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .title {
            font-size: $type-size-200;
            padding-right: 0.25rem;
            line-height: 1.2em;
        }

        .episode {
            font-family: $decimal;
            font-size: $type-size-050;
            opacity: 0.7;
            transform: translateY(1px);
        }

        .source {
            width: 100%;
            font-style: italic;
            opacity: 0.7;
            font-size: $type-size-100;

            span + span {
                &:before {
                    content: '| ';
                }
            }
        }
    }
}
