body.page-template-watchlist {
    background: #1a1a1a;
    color: $white;

    .page-header {
        padding-bottom: 3rem;
    }

    .playlist {
        & + .playlist {
            padding-top: 6rem;
        }

        &:last-of-type {
            padding-bottom: 6rem;
        }

        &-header {
            padding-bottom: 2rem;

            h2 {
                font-size: $type-size-500;
                line-height: 1em;
                font-style: italic;
            }
        }

        &-grid {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        }

        .poster {
            aspect-ratio: 2 / 3;
            @include cover-fill-image;
            border-radius: 4px;
            box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px,
                rgba(0, 0, 0, 0.05) 0px 18px 36px -18px;

            a {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;

                &:hover {
                    .overlay {
                        opacity: 1;
                    }
                }
            }

            .overlay {
                position: absolute;
                inset: 0;
                z-index: 10;
                background: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: all 600ms ease;

                svg {
                    width: 3rem;
                }
            }

            img {
                border-radius: 4px;
            }
        }

        .film.no-poster {
            .poster {
                background: linear-gradient(315deg, #fcff9e 0%, #c67700 100%);
            }
        }

        a {
            color: $white;
        }

        .info {
            padding-top: 1rem;
        }

        .title {
            font-size: $type-size-300;
            line-height: 1.125em;
        }

        .director {
            padding-top: 0.5em;
            font-family: $decimal;
            font-size: 0.6125rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            opacity: 0.7;
        }

        .release-date {
            padding-top: 0.125rem;
            font-style: italic;
            font-size: $type-size-100;
            opacity: 0.7;
        }

        .watched-btn {
            margin-top: 0.5rem;
            display: inline-block;
            font-family: $decimal;
            font-size: 0.6125rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            border: 1px solid;
            padding: 0.5rem;
            border-radius: 3px;
            transition: all 700ms ease;

            &:hover {
                background: $white;
                color: $black;
            }
        }
    }
}
